name: Deploy to GitHub Pages

on:
  repository_dispatch:
    types: [deploy_pages]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Write HTML file
        run: |
          echo '${{ github.event.client_payload.content }}' > ${{ github.event.client_payload.filename }}

      - name: Commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git commit -m "Automated Pages deploy"
          git push
